.icon-dropdown {
        height: 60px;
        display: flex;
        width: 100%;
}
.my-icon {
    font-size: 1.5rem;
     color: blue
}
.dropdown {
    width: 90%; height: 30px; 
        background-color: yellow
}
.clear-wrapper {
        display: flex;
        justify-content: flex-end;
        margin-top: 8px
}